#playable-block-title {
    color: #18e022;
}

#ingame-block-title {
    color: #58a32f;
}

#menus-block-title {
    color: #bfb302;
}

#boots-block-title {
    color: #e08a1e;
}

#nothing-block-title {
    color: #fc0307;
}

#playable-percentage {
    color: #18e022;
}

#ingame-percentage {
    color: #58a32f;
}

#menus-percentage {
    color: #bfb302;
}

#boots-percentage {
    color: #e08a1e;
}

#nothing-percentage {
    color: #fc0307;
}

#rectangle-playable:hover::after, #rectangle-playable:hover::before {
    background-image: conic-gradient(from var(--angle), transparent, 90%, #18e022), conic-gradient(from var(--angle2), transparent, 90%, #18e022);
}

#rectangle-ingame:hover::after, #rectangle-ingame:hover::before {
    background-image: conic-gradient(from var(--angle), transparent, 90%, #58a32f), conic-gradient(from var(--angle2), transparent, 90%, #58a32f);
}

#rectangle-menus:hover::after, #rectangle-menus:hover::before {
    background-image: conic-gradient(from var(--angle), transparent, 90%, #bfb302), conic-gradient(from var(--angle2), transparent, 90%, #bfb302);
}

#rectangle-boots:hover::after, #rectangle-boots:hover::before {
    background-image: conic-gradient(from var(--angle), transparent, 90%, #e08a1e), conic-gradient(from var(--angle2), transparent, 90%, #e08a1e);
}

#rectangle-nothing:hover::after, #rectangle-nothing:hover::before {
    background-image: conic-gradient(from var(--angle), transparent, 90%, #fc0307), conic-gradient(from var(--angle2), transparent, 90%, #fc0307);
}

.rectangle {
    width: 350px; /* Set the width of the rectangle */
    height: 100px; /* Set the height of the rectangle */
    margin-bottom: 10px; /* Optional: Add some space between the rectangles */
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

@mixin dark-mode {
    .rectangle {
        background: linear-gradient(rgb(55, 55, 58) 0%, rgb(24, 24, 27) 50%);
    }

    .rectangle h3 {
        margin: 0; /* Remove default margin */
        padding: 0; /* Remove default padding */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Add shadow for text */
    }

    .rectangle .progress {
        width: 50%;
        position: absolute;
        right: 25px;
        top: 60px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 1); /* Add shadow for the progress bar */
    }
}

@mixin light-mode {
    .rectangle {
        background: linear-gradient(to bottom, #e7e5e4 0%, #686766 100%);
    }

    .rectangle h3 {
        margin: 0; /* Remove default margin */
        padding: 0; /* Remove default padding */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Add shadow for text */
    }

    .rectangle .progress {
        width: 50%;
        position: absolute;
        right: 25px;
        top: 60px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 1); /* Add shadow for the progress bar */
    }
}

.rectangle .percentage {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    position: absolute;
    left: 240px; /* Corrected to use px */
    top: 10px;
}

.rectangle:hover::after, .rectangle:hover::before {
    content: "";
    position: absolute;
    border-radius: 50px;
    height: 100%;
    width: 100%;
    z-index: -1;
    left: -1%;
    padding: 3px;
    //background-image: conic-gradient(from var(--angle), transparent, 90%, #f11b5d), conic-gradient(from var(--angle2), transparent, 90%, #c26e1a);
    animation: spin 3s linear infinite;
}

.rectangle:hover::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

.rectangle:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease-in-out;
}

@property --progress-value {
    syntax: '<integer>';
    inherits: true;
    initial-value: 0;
}

:root {
    --progress-bar-color: #cfd8dc;
    --progress-value-color: #2196f3; /* Default color for progress value */
}

progress[value] {
    display: flex;
    position: relative;
    appearance: none;
    width: 100%;
    height: 6px;
    float: right;
    border: 0;
    --border-radius: 10px;
    border-radius: var(--border-radius);
    counter-reset: progress var(--progress-value);
}



progress[value]::-webkit-progress-value {
    background-color: var(--progress-value-color);
    border-radius: var(--border-radius);
}

progress[value]::-moz-progress-bar {
    background-color: var(--progress-value-color);
    border-radius: var(--border-radius);
}

progress[value]::after {
    display: flex;
    align-items: center;
    justify-content: center;
    --size: 32px;
    width: var(--size);
    height: var(--size);
    position: absolute;
    left: var(--progress-value-percent);
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--progress-value-color);
    border-radius: 50%;
    content: attr(value);
    content: var(--progress-value-string, var(--value));
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}

@keyframes progress {
    from {
        --progress-value: 0;
    } to {
        --progress-value: var(--value);
    }
}

@media (max-width: 600px) {
    .rectangle {
        width: 90%; /* Adjusted to 100% for better responsiveness */
    }
}

html.dark {
    @include dark-mode()
}

html.light {
    @include light-mode()
}