@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@property --angle2 {
    syntax: "<angle>";
    initial-value: 180deg;
    inherits: false;
}

@mixin dark-mode {
    .team-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
    }

    .team-member {
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        background: linear-gradient(to bottom, #27272a 50%, #18181b 50%);
        width: 250px;
        margin-bottom: 20px;
        margin-right: 20px;
        transition: transform 0.1s ease-in-out;
        position: relative;
    }

    .team-member:hover::after, .team-member:hover::before {
        content: "";
        position: absolute;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        z-index: -1;
        left: -1%;
        padding: 3px;
        background-image: conic-gradient(from var(--angle), transparent, 90%, #f11b5d), conic-gradient(from var(--angle2), transparent, 90%, #c26e1a);
        animation: spin 3s linear infinite;
    }

    .team-member:hover::before{
        filter: blur(1.5rem);
        opacity: 0.5;
    }

    .team-member:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.1s ease-in-out;
    }

    .team-member img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin: 0 0;
    }

    .team-member h1 {
        margin: 0 10px;
    }

    .team-member a {
        padding-left: 10px;
    }

    .github-icon:hover {
        fill: #f65263;
        stroke: #f65263;
    }

    @media (max-width: 600px) {
        .team-container {
            flex-direction: column;
            align-items: center;
        }

        .team-member {
            width: 95%;
        }
    }
}

@mixin light-mode {
    .team-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
    }

    .team-member {
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        background: linear-gradient(to bottom, #e7e5e4 50%, #d6d3d1 50%);
        width: 250px;
        margin-bottom: 20px;
        margin-right: 20px;
        transition: transform 0.1s ease-in-out;
        position: relative;
    }

    .team-member:hover::after, .team-member:hover::before {
        content: "";
        position: absolute;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        z-index: -1;
        left: -1%;
        padding: 3px;
        background-image: conic-gradient(from var(--angle), transparent, 90%, #f11b5d), conic-gradient(from var(--angle2), transparent, 90%, #c26e1a);
        animation: spin 3s linear infinite;
    }

    .team-member:hover::before{
        filter: blur(1.5rem);
        opacity: 0.5;
    }

    .team-member img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin: 0 0;
    }

    .team-member h1 {
        margin: 0 10px;
    }

    .team-member a {
        padding-left: 10px;
    }

    .github-icon {
        fill: #44403c;
        stroke: #44403c;
    }

    .github-icon:hover {
        fill: #f65263;
        stroke: #f65263;
    }

    @media (max-width: 600px) {
        .team-container {
            flex-direction: column;
            align-items: center;
        }

        .team-member {
            width: 95%;
        }
    }
}

html.dark {
    @include dark-mode()
}

html.light {
    @include light-mode()
}

@keyframes spin {
    from {
        --angle: 0deg;
        --angle2: 180deg;
    }
    to {
        --angle: 360deg;
        --angle2: 540deg;
    }
}